.layui-icon {
    margin: 5px 10px 0 5px;
}

.layui-side .layui-nav-child .layui-icon {
    margin-left: 20px;
    font-size: 16px;
}

#userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid rgb(40, 43, 51);
}

.layui-nav-img {
    display: none;
}

.txt-avater {
    height: 40px;
    width: 40px;
    background-color: #419488;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    /* 先注册的账号是没有头像的，才会显示，字体头像 */
    display: none;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    /* 去掉iframe所在的盒子的滚动条 */
    overflow: hidden;
}